* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 1.4em;
    text-align: center;
    color: #002ead;
}

legend {
    margin-top: 20px;
    margin: 80px auto 20px;
    padding: 7px;
    font-size: 1.2em;
}

h1 {
    margin-top: 100px;
    text-align: center;
    padding: 10px;
}

#text-input {
    font-size: 1em;
    padding: 7px;
    border-radius: 10px;
    min-width: 300px;
    width: 90%;
}

#check-btn {
    padding: 5px;
    margin: 30px;
    background-color: #0a0a33;
    color: #fff;
    border-radius: 10px;
    font-size: 0.8em;
}

#check-btn:hover {
    background-color: #002ead;
    transition: 0.7s;
}

#checker-wrap {
    border: 2px solid grey;
    background-color: lightyellow;
    margin: 10px auto;
    max-width: 500px;
    border-radius: 10px;
}